


.text {
  background-color: #f39c12;
  max-width: 500px;
  min-width: 50px;
}













#fixed-width {
  background-color: red;
  height: 50px;
  width: 500px
}

#flexible {
  background-color: red;
  height: 50px;
  width: 25%
}












#dynamic {
  font-size: 1vw;
}














.item {
  width: 22%;
  height: 200px;
  background-color: red;
  margin: 10px;
  display: inline-block;
}














/* @media(max-width: 768px) and (min-width: 600px) and (orientation: landscape){
  .item {
    display: block;
    width: 100%;
  }
} */

















/* .text{
  max-width:500px;
  min-height: 50px;
} */